.city-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
    padding: 16px;
  }

.padded-container {
  padding: 50px;
  /* border: thin solid rgba(100, 100, 111); */
  background-color: rgba(100, 100, 111, 0.4);
  text-align: center;
  line-height: normal;
}

  @media(max-width: 992px) {
    .city-cards-container {
      grid-template-columns: 1fr 1fr;
    }
  }

    @media(max-width: 768px) {
    .city-cards-container {
      grid-template-columns: 1fr 1fr;
    }
  }




/*
  NOTES

@media(max-width: 768px) {
.city-cards-container {
  grid-template-columns: 1fr 1fr;
}
.main-container {
  display: block;
  or
  flex-direction: column (?)
}

#map {
  width: 100%
  object-fit: cover (fixes distortion)
}
}
