
.button-blue {
  border-radius: 8px;
  background-color: rgb(75, 101, 135);
  padding: 12px;
  color: rgb(240, 229, 207);
  font-weight: bold;
  border: 4px solid rgb(240, 229, 207);
  text-decoration: none;

  /* border-color: rgb(0, 60, 74); */
}
.button-blue:hover {
  background-color: rgb(46, 62, 83);
  color: rgb(240, 229, 207);
}

#hidden-button {
  display: none;
}

#visible-button {
  color: red;
}

.button-treehouse {
  border-radius: 4px;
  background-color: #35bc5f;
  padding: 12px;
  margin: 8px;
  font-weight: bold;
  color: #F0E5CF;
  border: solid #F0E5CF;
  border-radius: 4px;
}
.button-treehouse:hover {
  color: #175129;
  border: solid #175129;
}
.button-treehouse.active {
  color: #175129;
  border: solid #175129;
}

.button-action {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #FF0000;
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}
