html {
  scroll-behavior: smooth;
}



body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding-bottom: 200px;
}

 
.navigation {
  height: 80px;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}


#logo img {
  height: 70px;
  padding: 10px 0px 5px 30px;
  float: left;
}


#logo h2 {
  color: red;
  font-size: 38px;
  padding: 0px 0px 0px 100px;
  position: absolute;  //* not the best solution, revisit later *//
  display: inline;
  text-align: center;
  
}

.navigation ul {
  float: right;
  color: green;
  font-size: 24px;
  display: flex;
  padding: 20px 32px 20px 32px;
  height: 40px;
  text-align: center;
}

.navigation ul li {
  list-style: none;
}

.navigation ul li a {
  list-style: 80px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: white;
  border-radius: 12px;
  transition-duration: 0.5s;


}

.navigation ul li a:hover {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  height: 30px;
}





.hero-image {
  background-image: url("../images/breatheman-lookright.jpg");
  width: 100%;
  height: 600px;
  background-size: cover;


}

.hero-content {
  padding-top: 200px;
  background-color: transparent;
  color: white;
  text-align: center;
  line-height: 50px;
}

.hero-content h1 {
  color: red;
  font-size: 60px;
}





.btn-view {
  color: black;
  background-color: white;
  border: none;
} 

.btn-view:hover {
  background-color: red;
  color: black;
}

.btn-order {
  background-color: white;  
  color: #0F3635;
  border: none;
  float: left;
}

.btn-order:hover {
  background-color: #0F3635;  
  color: white;
  border: none;
}







#products {
  padding-top: 100px;
  background-color: #90A2A1;
}


.products-container {
  padding: 20px 30px 5px 30px;
  margin: 0px 80px 0px 80px;
  background-color: gray;
}


/* parent */

.product-box {
  max-width: 1400px;
  margin: 10px 50px 25px 50px;
  padding: 10px 15px 10px 10px;
  height: 300px;
  background-color: lightgray;
}


@media (min-width: 800px) {
  .product-box {
    display: flex;
    justify-content: space-evenly;
  }
}

/* child 1 */

.product-description {
  text-align: left;
  padding-bottom: 20px;
  flex: 1 1 600px;
}

.product-description h3 {
  color: #255F5D;
}


/* child 2 */

.product-price p {
  font-size: 32px;
  font-family: "Times New Roman";
  color: #255F5D;
  float: left;
  padding-right: 20px; 
  flex: 1 1 600px;
}



/* child 3 */

.inhaler-image {  
  height: 280px;
  padding: 20px;
  flex: 1 1 600px;
}





//* CONTACT *//

#contact {

}

.contact-section {
  height: 600px;
  background-color: lightblue;
}